@font-face {
    font-family: 'DM Mono';
    font-stretch: normal;
    font-display: swap;
    font-weight: 400;
    font-style: normal;
    src: url("/DMMono-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: 'DM Mono';
    font-stretch: normal;
    font-display: swap;
    font-weight: 400;
    font-style: italic;
    src: url("/DMMono-Italic.ttf") format("truetype");
  }
  @font-face {
    font-family: 'DM Mono';
    font-stretch: normal;
    font-display: swap;
    font-weight: 500;
    font-style: normal;
    src: url("/DMMono-Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: 'DM Mono';
    font-stretch: normal;
    font-display: swap;
    font-weight: 500;
    font-style: italic;
    src: url("/DMMono-MediumItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: 'DM Mono';
    font-stretch: normal;
    font-display: swap;
    font-weight: 700;
    font-style: normal;
    src: url("/DMMono-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: 'DM Mono';
    font-stretch: normal;
    font-display: swap;
    font-weight: 700;
    font-style: italic;
    src: url("/DMMono-BoldItalic.ttf") format("truetype");
  }
  