@font-face {
  font-family: 'DM Sans';
  font-stretch: normal;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("/DMSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'DM Sans';
  font-stretch: normal;
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("/DMSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: 'DM Sans';
  font-stretch: normal;
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: url("/DMSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'DM Sans';
  font-stretch: normal;
  font-display: swap;
  font-weight: 500;
  font-style: italic;
  src: url("/DMSans-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: 'DM Sans';
  font-stretch: normal;
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("/DMSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'DM Sans';
  font-stretch: normal;
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("/DMSans-BoldItalic.ttf") format("truetype");
}
