@font-face {
  font-family: "GFS Didot";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/GFSDidot.ttf") format("truetype");
}
@font-face {
  font-family: "GFS Didot";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/GFSDidotItalic.ttf") format("truetype");
}
@font-face {
  font-family: "GFS Didot";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/GFSDidotBold.ttf") format("truetype");
}
@font-face {
  font-family: "GFS Didot";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/GFSDidotBoldItalic.ttf") format("truetype");
}
