@font-face {
  font-family: "GFS Bodoni";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/GFSBodoni.ttf") format("truetype");
}
@font-face {
  font-family: "GFS Bodoni";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/GFSBodoniIt.ttf") format("truetype");
}
@font-face {
  font-family: "GFS Bodoni";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/GFSBodoniBold.ttf") format("truetype");
}
@font-face {
  font-family: "GFS Bodoni";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/GFSBodoniBoldIt.ttf") format("truetype");
}
