@font-face {
  font-family: "GFS Neohellenic";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/GFSNeohellenic.ttf") format("truetype");
}
@font-face {
  font-family: "GFS Neohellenic";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/GFSNeohellenicItalic.ttf") format("truetype");
}
@font-face {
  font-family: "GFS Neohellenic";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/GFSNeohellenicBold.ttf") format("truetype");
}
@font-face {
  font-family: "GFS Neohellenic";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/GFSNeohellenicBoldItalic.ttf") format("truetype");
}
