@font-face {
  font-family: "GFS Artemisia";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/GFSArtemisia.ttf") format("truetype");
}
@font-face {
  font-family: "GFS Artemisia";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/GFSArtemisiaItalic.ttf") format("truetype");
}
@font-face {
  font-family: "GFS Artemisia";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/GFSArtemisiaBold.ttf") format("truetype");
}
@font-face {
  font-family: "GFS Artemisia";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/GFSArtemisiaBoldIt.ttf") format("truetype");
}
