@font-face {
  font-family: "Lato";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/Lato-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/Lato-BoldItalic.ttf") format("truetype");
}