@font-face {
  font-family: Literata;
  font-stretch: normal;
  font-weight: 100 900;
  font-style: normal;
  src: url("/Literata[opsz,wght].ttf") format("truetype");
}

@font-face {
  font-family: Literata;
  font-stretch: normal;
  font-weight: 100 900;
  font-style: italic;
  src: url("/Literata-Italic[opsz,wght].ttf") format("truetype");
}
