@font-face {
  font-family: "Lora GFS Didot";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Lora-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lora GFS Didot";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/GFSDidot.ttf") format("truetype");
  unicode-range: U+370-3FF, U+1F00-1FFF;
}
@font-face {
  font-family: "Lora GFS Didot";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/Lora-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Lora GFS Didot";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/GFSDidotItalic.ttf") format("truetype");
  unicode-range: U+370-3FF, U+1F00-1FFF;
}
@font-face {
  font-family: "Lora GFS Didot";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Lora-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lora GFS Didot";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/GFSDidotBold.ttf") format("truetype");
  unicode-range: U+370-3FF, U+1F00-1FFF;
}
@font-face {
  font-family: "Lora GFS Didot";
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/Lora-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Lora GFS Didot";
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/GFSDidotBoldItalic.ttf") format("truetype");
  unicode-range: U+370-3FF, U+1F00-1FFF;
}
