* {
  box-sizing: border-box;
}
:root {
  font-family: "Inter Variable", sans-serif;
  font-size: 20px;
  --bg: hsl(120, 70%, 88%);
  --bg-dark: hsl(120, 30%, 48%);
  --text: hsl(120, 50%, 12%);
  --muted: hsl(120, 50%, 75%);
  --code: hsl(120, 65%, 90%);
  --accent: hsl(120, 40%, 32%);
  background-color: var(--bg-dark);
  color: var(--text);
  /* See https://rsms.me/inter/dynmetrics/ */
  letter-spacing: -0.017em;
  line-height: 1.4;
  --rhythm: calc(20px * 1.4);
  --max-width: calc(var(--rhythm) * 24);
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  /* 
    I want a distinction between lower case l and uppercase I, but
    I didn't like neither of the alternatives cv05 (lower case l with tail), 
    cv08(upper case i with serif).  cv10 is G with spur, and ss01 is 
    different numbers.
  */
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "cv10", "ss01";
  font-feature-settings: "kern", "liga", "clig", "calt", "cv10", "ss01";
}
body {
  margin: 0;
  padding: 150px 0 500px;
}
main {
  max-width: var(--max-width);
  margin: 0 auto calc(var(--rhythm) * 4);
  padding: 0 var(--rhythm) var(--rhythm);
  border-top-right-radius: 150px;
  border-top-left-radius: 150px;
  border: 1px dashed hsl(120, 55%, 73%);
  background-color: var(--bg);
  box-shadow: 0 0 0 8px hsl(120, 70%, 88%), 0 0 0 16px hsl(120, 65%, 83%),
    0 0 0 32px hsl(120, 60%, 78%), 0 0 0 64px hsl(120, 55%, 73%),
    0 -18px 0 128px hsl(120, 50%, 68%), 0 -64px 0 256px hsl(120, 45%, 63%),
    0 -128px 0 512px hsl(120, 40%, 58%);
}
p,
.body-text {
  margin: 0 0 var(--rhythm);
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  font-variant-numeric: oldstyle-nums proportional-nums;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum",
    "cv10", "ss01";
  font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum", "cv10",
    "ss01";
}
p.intro {
  font-size: 1.5em;
  line-height: 1.25;
  letter-spacing: -0.021em;
}
a {
  text-decoration: none;
  border-bottom: 1px dashed var(--accent);
  color: var(--accent);
  outline-color: var(--text);
}
a:hover {
  color: var(--text);
}
a:focus {
  border-bottom: none;
  outline-style: dashed;
  outline-width: 2px;
  outline-offset: 2px;
}
p.intro,
em,
i {
  font-style: oblique -10deg;
  /* font-variation-settings: "slnt" -10; */
  font-synthesis: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
h1,
h2,
h3 {
  font-weight: 700;
  margin: calc(var(--rhythm) * 2) 0 var(--rhythm);
}
.fancy {
  padding: var(--rhythm);
  background-color: var(--text);
  color: var(--bg);
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  border: 2px solid black;
  --shift: calc((110vw - var(--max-width)) / -2);
  padding-left: calc(var(--shift) * -1);
  margin-left: var(--shift);
  margin-right: -150px;
  margin-bottom: calc(var(--rhythm) * 3);
  /* margin-top: 0; */
  padding-right: 150px;
  box-shadow: inset 0 0 4px 4px hsl(120, 22%, 12%),
    0 0 0 16px hsl(120, 50%, 23%), 0 0 0 28px hsl(120, 50%, 34%),
    0 0 0 36px hsl(120, 50%, 45%), 0 0 0 40px hsl(120, 50%, 56%),
    2px 2px 6px 42px hsl(120, 50%, 46%);
  /* 0 0 0 44px hsl(120, 60%, 72%), 0 0 0 46px hsl(120, 70%, 88%); */
}
h1.fancy {
  font-size: 3.375em;
  --shift: calc((95vw - var(--max-width)) / -2);
}
@media screen and (max-width: 672px) {
  .fancy {
    padding-left: var(--rhythm);
    margin-left: calc(var(--rhythm) * -1);
  }
}
@media screen and (max-width: 930px) {
  .fancy {
    /* padding-right: 0; */
    padding-right: var(--rhythm);
    margin-right: 0;
  }
}
h2 {
  font-size: 2.25em;
  display: inline-block;
  padding-bottom: calc(var(--rhythm) / 8);
  /* box-shadow: 0 4px 0 0 hsl(120, 50%, 23%); */
  box-shadow: 0 1px 0 0 hsl(120, 50%, 23%), 0 2px 0 0 hsl(120, 50%, 34%),
    0 3px 0 0 hsl(120, 50%, 45%), 0 5px 0 0 hsl(120, 50%, 56%),
    0 8px 0 0 hsl(120, 60%, 72%);
}
h3 {
  font-size: 1.5em;
}
h4,
h5,
h6 {
  font-size: 1em;
}
ul,
ol {
  margin: 0 0 var(--rhythm);
  padding-left: calc(var(--rhythm) / 2);
}
pre,
code {
  /* At https://rsms.me/inter/ the authors uses IBM Plex Mono for code. */
  font-family: "Consolas", "Menlo", "Courier New", Courier, monospace;
  font-weight: normal;
  border-radius: 3px;
  background-color: var(--code);
}
pre {
  overflow-x: auto;
  background-color: var(--code);
  margin: 0 0 var(--rhythm);
  padding: calc(var(--rhythm) / 2);
}
/* Tables */
#table-wrapper {
  width: 100%;
  overflow-x: auto;
}
table {
  margin: 0 0 var(--rhythm);
  border-collapse: collapse;
  border: 2px solid #544c41;
}
tbody {
  vertical-align: middle;
}
td,
th {
  padding: calc(var(--rhythm) / 4) calc(var(--rhythm) / 2);
  border: 1px solid #544c41;
}
td {
  text-align: center;
}
th {
  background-color: var(--muted);
  line-height: 1.2;
}
caption {
  padding: calc(var(--rhythm) / 4) calc(var(--rhythm) / 2);
}
/* No small caps */
abbr,
.small-caps {
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  font-variant-numeric: oldstyle-nums proportional-nums;
  font-variant-caps: normal;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";
  font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";
}
